<mat-card>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div class="izquierda">

        <img *ngFor="let foto of producto.fotos; let i = index" (mouseenter)="seleccionarImagen(i)"
             class="imagen-izquierda"
             [class.seleccionada]="i==indiceSeleccionado"
             [src]="resolverFoto(foto.foto)" alt="Foto">
      </div>
      <div>
        <img *ngIf="fotoSeleccionada" [src]="resolverFoto(fotoSeleccionada)" alt="">
      </div>
      <br>
    </mat-grid-tile>
    <mat-grid-tile class="detalles">
      <h1 class="mat-display-2">{{producto.nombre}}</h1>
      <p>{{producto.descripcion}}</p>
      <strong>Precio</strong>
      <h1 class="mat-display-2">{{producto.precio | currency}}</h1>
      <button class="carrito" mat-raised-button color="accent">
        Agregar al carrito
      </button>
      <a routerLink="/tienda" class="comprar" mat-raised-button color="primary">
        Seguir comprando
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
