<mat-card>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div class="izquierda">

        <img class="imagen-izquierda" src="https://picsum.photos/500" alt="">
        <img class="imagen-izquierda" src="https://picsum.photos/500" alt="">
        <img class="imagen-izquierda" src="https://picsum.photos/500" alt="">
        <img class="imagen-izquierda" src="https://picsum.photos/500" alt="">
      </div>
      <div>
        <img src="https://picsum.photos/1000" alt="">
      </div>
      <br>
    </mat-grid-tile>
    <mat-grid-tile class="detalles">

      <h1 class="mat-display-2">Nombre del producto</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab aliquid cumque debitis doloribus et
        exercitationem facilis fuga id illum ipsa ipsam ipsum laboriosam officia officiis quaerat quas similique
        voluptate!</p>
      <strong>Precio</strong>
      <h1 class="mat-display-2">$123.45</h1>
      <button mat-raised-button color="primary">
        Agregar al carrito
      </button>
      <!--      Todo-->
      <strong>Falta agregar un botón que diga "Seguir comprando"</strong>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
